
*.iml
.gradle
.idea
.DS_Store
build
*/build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata/
Pods/
*.jks
*yarn.lock
/composeApp/release/composeApp-release.apk
/composeApp/release/output-metadata.json
/iosApp/iosApp.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/composeApp/src/commonMain/kotlin/com/therxmv/ershu/data/source/remote/BaseUrlProvider.kt
/composeApp/google-services.json
/iosApp/iosApp/Info.plist
/iosApp/iosApp.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
/iosApp/GoogleService-Info.plist
/composeApp/release/composeApp-release.aab
